.no-wrap {
    white-space: nowrap;
}

.margin-bottom {
    margin-bottom: 2rem; /* Adjust the value as needed */
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 1%;
    width: 60%;
}

.textarea {
    background-color: white;
    color: black;
}