.menubar {
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%;
  justify-content: space-around;
  background-color: white;
  padding: 10px 0;
}

.main-content {
  padding-bottom: 60px;
}

.btm-nav .text-primary {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.first {
  margin-right: 1%;
  margin-top: 1%;
  margin-left: 1%;
  margin-bottom: 1%;
}

.second {
  margin-bottom: 1%;
  margin-top: 1%;
}

.third {
  margin-bottom: 1%;
  margin-top: 1%;
}

.fourth {
  margin-right: 1%;
  margin-top: 1%;
  margin-left: 1%;
  margin-bottom: 1%;
}
